#login {
  #content {
    @include topspace; 
  }
  p {
    text-align: center;
    &.errorfield {
      text-align: left;
    }
  }
}

#login-fail {
    background-color: #fef1cf;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    line-height: 1.4em;
}

.login_popup {
  background-color: $COLOR_WHITE;
  .inpage_popup_content {
    margin: 0px;
    min-height: 300px;
  }
  iframe {
    display: block;
    min-height: 270px;
    margin-bottom: 15px;
  }
}
