[% l("<p style='font-weight: bold; margin-bottom: -.2em;'>Thanks for signing up for a virtual account!</p>

<p style='margin-bottom: 0;'>Enter the following verification token into the form to [_1]:</p>
<p>
  <span style='background: #f2f2f2; padding: 10px; margin-bottom: -.2em; margin-top: 0;'>[_2]</span>
</p>

<p>Enjoy trading with us on Binary.com.</p>
", purpose, code) %]
