<!DOCTYPE html>
<html>
<head>
[%= FOREACH js IN javascript.libs =%]
    <script src='[%= js =%]' defer></script>
[%= END =%]
    <style>
        @keyframes spinning{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}
        @-webkit-keyframes spinning{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}
        #login_loading {text-align: center; padding-top: 90px;}
        #login_loading .spinner {
            width: 100px;
            -webkit-animation: spinning 1s infinite linear;
            animation: spinning 1s infinite linear;
        }
    </style>
</head>
<body onload="LoggedInHandler.init();">
    [% google_tag_tracking_code %]
    [% google_tag_declaration_code %]
    <div id="login_loading">
        <img class="spinner" src="[% request.url_for('images/pages/binary-symbol-logo.svg') %]" alt="" />
    </div>
</body>
</html>
