<div id="knowledge-test-container">
    <h1>[% l('Knowledge Test') %]</h1>
    <p>[% l('Please complete the following questions.') %]</p>
    <div id="section1">
        <h2>[% l('Section 1: xxx') %]</h2>
    </div>
    <div id="section2">
        <h2>[% l('Section 2: xxx') %]</h2>
    </div>
    <div id="section3">
        <h2>[% l('Section 3: xxx') %]</h2>
    </div>
    <div id="section4">
        <h2>[% l('Section 4: xxx') %]</h2>
    </div>
    <div id="section5">
        <h2>[% l('Section 5: xxx') %]</h2>
    </div>

    <button class="button button-focus" id="btn_submit" type="submit">[% l('Submit') %]</button>
</div>